# Node.js
node_modules
dist
dist-ssr
*.local

# Python & Backend
__pycache__
*.py[cod]
backend/venv
.pytest_cache

# Environment Variables (보안 필수)
.env
.env.*

# Docker & Database Volumes (용량 큼)
ollama_storage
chroma_db
/data

# OS Files
.DS_Store
Thumbs.db

# IDE Files
.idea
.vscode